<p>parent works! {{ name() }}</p>

<h4>computed name : {{ computedName() }}</h4>

<input type="text" [(ngModel)]="name" placeholder="Enter name" />

<div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  "
>
  <div>
    <p>Model value (parent): {{ modelValueToPass }}</p>
  </div>
  <div>
    <input
      type="text"
      [(ngModel)]="modelValueToPass"
      placeholder="Enter value to pass to child"
    />
  </div>
</div>

<input
  type="text"
  [(ngModel)]="valueToPass"
  placeholder="Enter value to pass to child"
/>

<app-child
  [childValue]="valueToPass"
  [(fromParent)]="modelValueToPass"
></app-child>

@defer {
<app-defer-loading />
}
