<!-- <p>user works!</p>

<input
  #text
  type="text"
  value="user"
  [(ngModel)]="uservalue"
  (input)="valueChanges()"
/>
<p>{{ text.value }} {{ text.type }}</p>
<p *ngIf="computedTextValue()">Computed Value: {{ computedTextValue() }}</p> -->

<input type="text" [(ngModel)]="searchTerm" placeholder="Search users" />
<ul>
  <li *ngFor="let user of users | filter : searchTerm">
    {{ user.name }}
  </li>
</ul>

<button (click)="addUser()">Add User</button>

<app-custom-number-input></app-custom-number-input>
